<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.show.wanandroid">

    <application
        android:name="com.show.wanandroid.app.AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme"
        tools:ignore="LockedOrientationActivity"
        >

        <activity android:name="com.show.wanandroid.ui.main.SearchActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.show.wanandroid.ui.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.show.wanandroid.ui.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.show.wanandroid.ui.login.SplashActivity"
            android:theme="@style/Theme.Splash"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>