<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.show.wanandroid">

    <application
        android:name=".app.AppApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_android"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_android"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity android:name=".ui.main.WebActivity"></activity>
        <activity android:name=".ui.main.SearchResultActivity" />
        <activity android:name=".ui.main.SearchActivity" />
        <activity
            android:name=".ui.main.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.show.launch.AppProvider"
            android:authorities="${applicationId}.AppProvider"
            android:exported="false"
            android:multiprocess="true"
            tools:node="merge">
            <meta-data
                android:name="com.show.wanandroid.app.MainInitializer"
                android:value="@string/initializer" />
        </provider>
    </application>

</manifest>